#transfer {
    color: #000000;
    padding: 5px;
    white-space: pre-wrap;
}

form{
    width: 300px; /* Ширина элемента */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    background: aliceblue; /* Цвет фона */
}