<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>

    <!--Тест с информацией об использовании-->
    <div id ="transfer">
        Для добавления пользователя:
        1) Выберите из раскрывающегося списка пункт "Добавить пользователя".
        2) Заполните поля login и password.
        3) Нажмите "Выполнить".

        Для удаления пользователя:
        1) Выберите из раскрывающегося списка пункт "Удалить пользователя".
        2) В поле login или в поле id введите данные пользователя, которого хотите удалить.
        3) Нажмите "Выполнить".

        Для изменения пользователя:
        1) Выберите из раскрывающегося списка пункт "Изменить данные пользователя".
        2) Заполните поле id и заполните поля с данными, которые хотите изменить.
        3) Нажмите "Выполнить".

        ОБРАТИТЕ ВНИМАНИЕ! Все пароли в таблице представлены в виде хеш-строки md5 при входе, регистрации и
        изменении пароля, вводите его БЕЗ шифрования.
    </div>
    <div>
        <p>
            <!--Кнопка для возврата в форму регистрации-->
            <input style="width: 150px; height: 30px;" type="button" value="Назад"
                   onclick="location.href='registration_form.php';">
        </p>
    </div>

</body>
</html>